

h2{

    color: black;
    font-weight: 800 ;
    text-align: center;

}
.form-check-input{

    background-color: purple !important;
}

.margintop{

    margin-top: 20vh;
    
}

form{
    color: white ;

    background-color:rgb(0, 0, 0);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 10px 5px 5px rgb(148, 131, 131);
}